XML/candidate_schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name = "resume">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "HigherEducation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="candidate" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="Person">
											<xs:attribute name = "id" type = "xs:ID" />
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name = "SecondaryEducation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="candidate" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="Person">
											<xs:attribute name = "id" type = "xs:ID" />
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name = "NewAgeType">
		<xs:restriction base = "xs:integer">
			<xs:minInclusive value = "18"/>
			<xs:maxInclusive value = "100"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name = "Person">
		<xs:sequence>
			<xs:element name = "Name" type = "xs:string"/>
			<xs:element name = "LastName" type = "xs:string"/>
			<xs:element name = "PatronymicName" type = "xs:string"/>
			<xs:element name = "Age" type = "NewAgeType"/>
			<xs:element name = "WorkPlace" type = "xs:string"/>
			<xs:element name = "Post" type = "xs:string"/>
			<!--<xs:element name = "DateOfBirth" type = "xs:string"/>-->
			<xs:element name = "DateOfBirth">
				<xs:simpleType>
					<xs:restriction base = "xs:date">
						<xs:minInclusive value = "1947-01-01"/>
						<xs:maxInclusive value = "1992-01-01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--<xs:element name = "Education" type = "xs:string"/>-->
			<xs:element name = "Education">
				<xs:simpleType>
					<xs:restriction base = "xs:string">
						<xs:enumeration value = "Высшее"/>
						<xs:enumeration value = "Среднее"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name = "Address" type = "xs:string"/>
			<!--<xs:element name = "Phone" type = "xs:string"/>-->
			<xs:element name = "Phone">
				<xs:simpleType>
					<xs:restriction base = "xs:string">
						<xs:pattern value = "\d{3}-\d{2}-\d{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--<xs:element name = "FamilyStatus" type = "xs:string"/>-->
			<xs:element name = "FamilyStatus">
				<xs:simpleType>
					<xs:restriction base = "xs:string">
						<xs:enumeration value = "женат"/>
						<xs:enumeration value = "не женат"/>
						<xs:enumeration value = "замужем"/>
						<xs:enumeration value = "не замужем"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="DesiredSalary">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="currency" type="xs:string" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>		
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>