XML/lessons_XML.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name = "lessons">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "lesson" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name = "ls_name" type = "xs:string"/>
							<xs:element name = "ls_start" type = "xs:date"/>
							<xs:element name = "ls_time" type = "xs:integer"/>
							<xs:element name = "ls_teacher" type = "xs:string"/>
						</xs:sequence>
						<xs:attribute name = "id" type = "xs:ID"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>